.button {
    text-decoration: none;
    border: 2px solid $c-alt;
    color: $c-bg;
    background-color: $c-alt;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    display: grid;
    place-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    p {
        margin: 0;
        z-index: 10;
    }
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c-bg;
    transition: all 1s;
    z-index: 1;
    transform: translateX(-100%);
}

.button:hover::before {
    transform: translateX(0);
    background-color: $c-bg;
}

.button:hover {
    color: $c-alt;
}

.button__top {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    background-color: $c-text;

    .p {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        align-self: center;
    }

    &:hover .up {
        &--blanc {
            display: none;
        }

        &--alt {
            display: inline;
        }
    }

    .up {
        &--alt {
            display: none;
            max-width: 30px;
        }

        &--blanc {
            display: inline;
            max-width: 30px;
        }
    }
}