.footer {
    background-color: $c-alt;
    height: fit-content;
    width: 100%;
    position: absolute;
    left: 0;
    padding-top: 28.4px;
    color: $c-bg;

    &__nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 1420px;
        align-items: center;
        margin: auto auto;
    }

    &__el {
        padding: 8px 0;
    }

    .lien {
        display: inline-block;
        cursor: pointer;
        color: inherit;
        text-decoration: none;
        transition: all 0.5s ease-in-out;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: $c-alt;
            transition: all 0.5s ease-in-out;
        }

        &:hover::after {
            width: 0;
        }

        &:hover {
            color: $c-alt;
            background-color: $c-bg;
            transition: all 0.5s ease-in-out;
        }
    }

}

//tablette
@media screen and (max-width:720px) {}

//Desktop
@media screen and (min-width:1080px) {
    .footer__nav {
        flex-direction: row;
    }
}