.intro{
  margin-right: 0;
  margin-left: 0;
  .title{
    margin-bottom: 32px;
    margin-top: 64px;
    color: $c-bg;
  }

  &__image{
    filter:contrast(0.8);
    position: absolute;
    top: 90px;
    z-index: -1;
    width: 100%;
    border-radius: 60px;
  }

  .h3{
    margin-top: 72px;
  }
  
}

.bienvenue{
  margin-top: 128px;
  margin-bottom: 128px;

  .color--alt{
    color: $c-dyna;
  }
  
}
.important{
  font-size: calc($size-text + 2px);
  font-weight: normal;
}