.premier {
    position: relative;
    margin: 150px 0;

    &::after {
        content: "";
        background-image: url(../../assets/images/horloge-serv.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        display: block;
        width: 100%;
        height: 300px;
        position: absolute;
        right: -50%;
        z-index: -10;
        opacity: 0.9;
        rotate: -10deg;
        top: 95%;
    }
}

.questionnement {
    margin-top: 150px;
    position: relative;

    &::after {
        content: "";
        background-image: url(../../assets/images/interro.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        display: block;
        width: 100%;
        height: 300px;
        position: absolute;
        left: 0;
        z-index: -10;
        opacity: 0.9;
        rotate: 10deg;
        top: 50%;
    }
}

.article {

    p {
        margin-left: 16px;
    }

    .h4 {
        padding-left: 29px;
    }

    &__image {
        object-fit: cover;
        display: block;
        left: 0;
        width: 100vw;
        height: calc(100vw / 3 * 2);
        max-width: 600px;
        max-height: calc(600px / 3 * 2);
    }

    &__decoration {
        display: none;
    }

}

.repas {
    background: url(../../assets/images/repas_1280.jpg);
    background-position-x: 0px;
}

.harmonie {
    background: url(../../assets/images/repas_sain.jpg);
    background-position-x: -90px;
}



//tablette
@media screen and (min-width:720px) {
    .article {

        &__flex {
            display: flex;
            justify-content: center;
        }



        &__decoration {
            margin-top: 64px;
            margin-bottom: 20px;
            display: block;
            width: 220px;
            background-size: cover;
            background-repeat: no-repeat
        }
    }
}

//Desktop
@media screen and (min-width:1080px) {

    .article:nth-child(odd) {
        margin-left: 20%;
    }
}