.article {
    margin-top: 64px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    &__bg::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: -100px;
        background-color: $c-other;
        width: 200%;
        height: 58em;
        z-index: -20;
        transform: rotate(-6deg);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 24px 12px;
    }

    p {
        margin-left: 16px;
    }

    &__txt {
        text-align: left;
    }

    &__image {
        border-radius: 40px;
        object-fit: cover;
        width: 80vw;
        height: calc(80vw / 3 * 2);
        max-width: 500px;
        max-height: calc(500px / 3 * 2);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 24px 12px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1) rotate(6deg);
            transition: transform 0.3s ease-in-out;
        }
    }

    &__decoration {
        display: none;
    }

}

.decalage {
    transform: translateX(20px);
}

.repas {
    background: url(../../assets/images/repas_1280.jpg);
    background-position-x: 0px;
}

.harmonie {
    background: url(../../assets/images/repas_sain.jpg);
    background-position-x: -90px;
}



//tablette
@media screen and (min-width:720px) {
    .article {

        &__flex {
            display: flex;
            justify-content: center;
        }



        &__decoration {
            margin-top: 64px;
            margin-bottom: 20px;
            display: block;
            width: 220px;
            background-size: cover;
            background-repeat: no-repeat
        }
    }
}

//Desktop
@media screen and (min-width:1080px) {

    .article:nth-child(odd) {
        margin-left: 20%;
    }
}