.premisse {
  margin-top: 80px;
  background-image: url(../../assets/images/intro-mobil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 32px;
}

.bgColor {
  background: rgba(252, 252, 252, 0.8);
  padding: 24px 12px;
  box-shadow: rgba(0, 0, 0, 0.5) px 12px 24px 12px;
}

//Desktop
@media screen and (min-width:1080px) {
  .premisse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, fit-content);

    &__image {
      grid-area: 1 / 2 / 3 / 3;
      justify-self: center;
    }
  }
}

.bienvenue {
  margin-top: 12px;
  margin-bottom: 58px;

  .h3 {
    margin-top: 32px;
  }
}