.article{
    margin-top: 64px;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    p{
        margin-left: 16px;
    }

    &__txt{
        text-align: left;
    }
    &__image{
    border-radius: 40px;
    object-fit: cover;
    width: 80vw;
    height:  calc(80vw / 3 * 2);
    max-width: 300px;
    max-height: calc(300px / 3 * 2);
    margin: 0 auto;
    }
}


