:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: var(--size-text);
  line-height: var(--line-height);
  color: $c-text;
  background-color: $c-bg;
  margin: 0;
  background-image: url(../../assets/images/ustencils-fond.svg);
  background-size: 80% auto;
  background-position: center center;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
  max-width: 1480px;
}

//h1
.title {
  color: $c-alt;
  font-size: var(--size-tittle-h1);
}

//h2
.subtitle {
  font-size: var(--size-tittle-h2);
  color: $c-rose;
}

//h3
.h3 {
  font-size: var(--size-tittle-h3);
  margin-top: 12px;
  color: $c-dyna;
}

//h4
.h4 {
  font-size: var(--size-tittle-h4);
}

//Texte style
.red {
  color: $c-alt;
}

.color--alt {
  color: $c-dyna;
}

.centrer {
  text-align: center;
}

p {
  max-width: 80ch;
}

.nosize__limite {
  max-width: inherit;
}

//style lien
.lien {
  text-decoration: none;
  color: $c-bg;
}

.texte__lien {
  display: inline-block;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: $c-alt;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 0;
  }

  &:hover {
    color: $c-alt;
  }
}

.section {
  padding: 64px 32px;
}

.important {
  font-size: calc(var(--size-text) + 2px);
  font-weight: normal;
}