//utilitaires
@import 'utils/variables';
@import 'utils/font';

//general
@import 'components/type';

//index
@import 'components/premisse';
@import 'components/button';
@import 'components/introduction';
@import 'components/recherches';
@import 'components/premisse';
@import 'components/diagramme';
@import 'components/image__fond';
@import 'components/hypothese';
@import 'components/bienvenue';

//footer 
@import 'components/footer';

//header
@import 'header/burger';
@import 'header/header';

//autres pages
@import 'components/ui-kit';
@import 'components/video';
@import 'components/credit';