$c-bg: #fcfcfc;
$c-alt: #750D37;
$c-hover: #a01d51;
$c-text: #252525;
$c-dyna: #476061;
$c-rose: #f5c0c0;

$size-title-h1: 7rem;
$size-title-h2: 2rem;
$size-title-h3: 24px;
$size-title-h4: 20px;
$line-height: 1.333;
$size-text: 20px;

:root {
    --size-tittle-h1: #{$size-title-h1};
    --size-tittle-h2: #{$size-title-h2};
    --size-tittle-h3: #{$size-title-h3};
    --size-tittle-h4: #{$size-title-h4};
    --line-height: #{$line-height};
    --size-text: #{$size-text};

    //tablette
    @media screen and (min-width:720px) and (max-width:1080px) {
        --size-tittle-h1: 120px;
        --size-tittle-h2: 40px;
        --size-tittle-h3: 28px;
        --size-tittle-h4: 24px;
        --line-height: 1.414;
        --size-text: 22px;
    }

    //Desktop
    @media screen and (min-width:1080px) {
        --size-tittle-h1: 111px;
        --size-tittle-h2: 50px;
        --size-tittle-h3: 33px;
        --size-tittle-h4: 27px;
        --line-height: 1.5;
        --size-text: 24px;
    }
}