.burger {
  width: 54.6px;
  height: 40px;
  cursor: pointer;
  position: relative;

  span {
    width: 100%;
    height: 5px;
    background-color: $c-bg;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
    border-radius: 8px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: $c-bg;
      transition: transform 0.5s ease-in-out;
      border-radius: 8px;
    }

    &::before {
      transform: translateY(-0.8rem);
    }

    &::after {
      transform: translateY(0.8rem);
    }
  }

  &.active span {
    background-color: transparent;

    &::before {
      transform: translateY(0px) rotateZ(45deg);
    }

    &::after {
      transform: translateY(0px) rotateZ(-45deg);
    }
  }

}

//Desktop
@media screen and (min-width:1080px) {
  .burger {
    display: none;
  }
}